.malena {width: 70px; height:70px; margin: 50% 50% 0% 50%;}
.foca { background-image:url(../img/banner.jpg);width: 1300px ; height: 600px; }
.ama {background-color:#F5BB00; width: 1300px; height: 300px;}
.ima {height: 250px; width: 185px; margin:15px 0px 15px 0px;}
.tama {margin-left: -13px;}
.alineado {display: inline-block;}

